/*comment*/

body {
    background: rgb(67, 213, 154);
    font-family: Helvetica, sans-serif, Arial;
    text-align: center;
}

h1 { 
    color: rgb(77, 39, 16);
}

h2 {
   color: black;
}

.projects { 
    display: flex; 
    flex-wrap: wrap; 
} 

.project {
width: 30%;             /* percentage of the screen each block takes up */
margin-top: 10px;       /* space above the block */
margin-bottom: 10px;    /* space below the block */
margin-left: auto;      /* space to the left of the block */
margin-right: auto;     /* space to the right of the block */
padding: 10px 10px;     /* thickness of the padding? */
background: #257ca3;             /* color */
border-radius: 3%;                 /* roudness of the corners*/
border: solid rgb(0, 0, 0);      /* border color */
}

.project img {
    width: 90%;     /* makes the width x% of the block */
    border: 3px solid rgb(0, 0, 0); /* border width*/
    display: block;
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

/* hover makes things change color when the cursor is hovering over it */
a:hover {   
    color: rgb(40, 40, 40);
}

.project img:hover {
    border: 3px solid rgb(150, 150, 150);
}

#tallimg {
    height: 50%;
    width: auto;
}

.about {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about img {
    width: 150px;
    height: auto;
    border-radius: 7%;
    border: 2px solid rgb(0, 0, 0);
}

.about p {
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}