/*comment*/

body {
    background: rgb(67, 213, 154);
    font-family: Helvetica, sans-serif;
    text-align: center;
}
h1 { 
    color: rgb(77, 39, 16);
}
h2 {
   color: black;
}
/*
para1 {
    color: green
}
*/